<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512433186967-hpb67e2ctds8t16m7dob4oapbe9ebhrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512433186967-hpb67e2ctds8t16m7dob4oapbe9ebhrc</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Ry2jvyEPbRo2XWnEt_0JWyfctkK73dI</string>
	<key>GCM_SENDER_ID</key>
	<string>512433186967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleaningListApp</string>
	<key>PROJECT_ID</key>
	<string>cleaning-inspection-b9d8d</string>
	<key>STORAGE_BUCKET</key>
	<string>cleaning-inspection-b9d8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512433186967:ios:6dbf0b69489674dc6161d2</string>
</dict>
</plist>